on: [push]
jobs:
  ruby:
    strategy:
      matrix:
        year: ["2025"]
        day: ["01"]
        include:
          - year: "."
            day: ".stencil"
    uses: "./.github/workflows/ci-reusable-ruby.yaml"
    with:
      working-directory: "${{ matrix.year }}/${{ matrix.day }}.ruby"

  # golang:
  #   strategy:
  #     matrix:
  #       year: ["2024"]
  #       day: ["01", "02"]
  #       include:
  #         - year: "."
  #           day: ".stencil"
  #   uses: "./.github/workflows/ci-reusable-golang.yaml"
  #   with:
  #     working-directory: "${{ matrix.year }}/${{ matrix.day }}.golang"
